<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% include templates/header.ejs %>

    <h1><%= title %></h1>

    <form method="post">
        Task:<input type="text" name="task"><br>
        Priority:<input type="number" name="prio"><br>
        Deadline:<input type="text" name="deadline"><br>
        <input type="submit">
    </form>
</body>
</html>
