<!DOCTYPE html>
<html>
    <head>
        <title>All tasks</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
        <% include templates/header.ejs %>

        <h1>All tasks</h1>

        durbadurb

    </body>
</html>