<!DOCTYPE html>
<html>
<head>
    <title> All tasks </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include templates/imports.ejs %>
</head>

<body>

    <div data-role="page" id="page3" data-title="Title - page 3" data-url="page3">

        <% include templates/header.ejs %>

        <!-- The list of tasks -->
        <div role="main" class="ui-content">
            <ul id="list" class="touch" data-role="listview" data-icon="false" data-split-icon="delete">

                <!-- Here we iterate through the available tasks -->
                <% tasks.forEach(function(t) { %>
                    <li>
                        <a href="#demo-mail">
                            <h3 > <i> Task: </i>  <span class="topic"> <%= t.tasktext %> <span> </h3>
                            <p><strong><i> Complete: </i> <%= t.complete%></strong></p>
                            <p class="ui-li-aside"><strong><i> Deadline: </i> <%= t.deadline %></strong></p>
                        </a>
                        <a href="#" class="delete">Delete</a>
                    </li>
                    <% }); %>

                </ul>
            </div><!-- /content -->

            <!-- The delete confirmation dialog -->
            <div id="confirm" class="ui-content" data-role="popup" data-theme="a">
                <p id="question"> <b>Set following task to complete ?</b> </p>
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <a id="yes" class="ui-btn ui-corner-all ui-mini ui-btn-a" data-rel="back">Yes</a>
                    </div>
                    <div class="ui-block-b">
                        <a id="cancel" class="ui-btn ui-corner-all ui-mini ui-btn-a" data-rel="back">Cancel</a>
                    </div>
                </div>
            </div><!-- /popup -->
        </div>

    </body>

    </html>
