<!DOCTYPE html>
<html>
    <head>
        <title>All tasks</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
        <% include templates/header.ejs %>

        <h1>All tasks</h1>

        <ul>
            <% tasks.forEach(function(t) { %>
                <li> <b> Task: </b>  <%= t.tasktext %> | <i> Deadline: </i> <%= t.deadline %>  </li>
            <% }); %>
        </ul>

    </body>
</html>