<header data-role ="header">
    <h1 class="ui-title" role="heading"></h1>
    <a href="/" data-role="button" data-icon="home">Home</a>
    <div class="ui-btn-right" data-role="controlgroup" data-type="horizontal">
        <a href="/newtask" data-role="button" data-icon="action">Create task</a>
        <a href="/tasklist" data-role="button" data-icon="bars">View tasks</a>
    </div>
</header>
